// 对于reset的一些补充，更符合国情
// =============================================================================
html {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}
body,
button,
input,
select,
textarea{
	font-family: $baseFontFamily;
}
img {
	vertical-align: middle;
}
textarea {
	resize: vertical;
}
h1,h2,h3,h4,h5,h6,p,figure,form {
	margin:0;
}
ul,ol,li,dl,dd{
	margin: 0;
	padding:0;
}
ul,ol{
	list-style: none outside none;
}
a {
	text-decoration: none;
}