// 网页基本配置
$baseFontSize:       14px !default;      	//基础字号
$baseLineHeight:     1.4 !default;       	//基础行高
$baseFontFamily:     "SimSun" !default;		//基础字体
$baseBgColor:		 #FFF !default;			//基础背景色
$baseFontColor:		 #333 !default;			//基础字色

// 链接色
//$linkColor:       $blue !default;
//$linkColorHover:  $navy !default;

// 交互颜色
// 四种状态: 警告,错误,成功,提示
// 每个状态有三个值: 文本色,背景色,边框色
//$warningColor:        $red !default;
//$errorColor:          $red !default;
//$successColor:        $green !default;
//$remindColor:         $yellow !default;