@charset "UTF-8";

@import "../core/config";
@import "core/_css3";
@import "core/_mixin";
@import "core/_media-queries";
@import "core/_reset";

// 针对移动版的配置
$isIe67:            false;
$isFilter:          false;

$prefixForMozilla:      false;
$prefixForMicrosoft:    false;
$prefixForOpera:        false;