// 基本颜色
// =============================================================================

// 基于 http://clrs.cc
// 可以通过以下方式组合
// lighten($color, $amount)
// darken($color, $amount)
// opacify($color, $amount)
// mix($color1, $color2[, $amount])
$navy:          #001F3F !default;
$blue:          #0074D9 !default;
$aqua:          #7FDBFF !default;
$teal:          #39CCCC !default;
$olive:         #3D9970 !default;
$green:         #2ECC40 !default;
$lime:          #01FF70 !default;
$yellow:        #FFDC00 !default;
$orange:        #FF851B !default;
$red:           #FF4136 !default;
$fuchsia:       #F012BE !default;
$purple:        #B10DC9 !default;
$maroon:        #85144B !default;
$white:         #FFFFFF !default;
$silver:        #DDDDDD !default;
$gray:          #AAAAAA !default;
$black:         #111111 !default;
