// 常用字体
// =============================================================================

// 中文类
$fontSongTi:			"SimSun";           //宋体
$fontYaHei:				"Microsoft Yahei";  //微软雅黑
$fontHeiTi:				"SimHei";           //黑体

// 手机字体
$fontMobile:			"Helvetica Neue", Helvetica, DroidSansFallback, HeiTi SC, Arial, sans-serif;

// 英文类
$fontArial:				Arial;				//常用E文字体，无衬线
$fontTahoma:			Tahoma;				//较圆润，间距较小，无衬线
$fontVerdana:			Verdana;			//与Tahoma类似，间距较大，无衬线
$fontGeorgia:			Georgia;			//常用于数字，有衬线
$fontTimesNewRoman:		"Times New Roman";  //有衬线
$fontCourierNew:		"Courier New";		//等宽字体