// 透明
@mixin opacity($opacity:0.5) {
	opacity: $opacity;
	@if $isFilter {
		filter: alpha(opacity = $opacity * 100);
	}
}
// 黑色半透明
@mixin alpha-bg($bgcolor: rgba(0,0,0,.5)) {
	color: #FFF;
	@if $isFilter {
		// ie-hex-str 可转化为IE滤镜需要的格式
		filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#{ie-hex-str($bgcolor)}', endColorstr='#{ie-hex-str($bgcolor)}');
	} @else {
		background-color: #333;
	}
	background-color: $bgcolor;
}