// 基本颜色
// =============================================================================

// 基于 http://clrs.cc
// 可以通过以下方式组合
// lighten($color, $amount)
// darken($color, $amount)
// opacify($color, $amount)
// mix($color1, $color2[, $amount])
$navy:          #001F3F !default;
$blue:          #0074D9 !default;
$aqua:          #7FDBFF !default;
$teal:          #39CCCC !default;
$olive:         #3D9970 !default;
$green:         #2ECC40 !default;
$lime:          #01FF70 !default;
$yellow:        #FFDC00 !default;
$orange:        #FF851B !default;
$red:           #FF4136 !default;
$fuchsia:       #F012BE !default;
$purple:        #B10DC9 !default;
$maroon:        #85144B !default;
$white:         #FFFFFF !default;
$silver:        #DDDDDD !default;
$gray:          #AAAAAA !default;
$black:         #111111 !default;

// 常用字体
// =============================================================================

// 中文类
$fontSongTi:			"SimSun";           //宋体
$fontYaHei:				"Microsoft Yahei";  //微软雅黑
$fontHeiTi:				"SimHei";           //黑体

// 手机字体
$fontMobile:			"Helvetica Neue", Helvetica, DroidSansFallback, HeiTi SC, Arial, sans-serif;

// 英文类
$fontArial:				Arial;				//常用E文字体，无衬线
$fontTahoma:			Tahoma;				//较圆润，间距较小，无衬线
$fontVerdana:			Verdana;			//与Tahoma类似，间距较大，无衬线
$fontGeorgia:			Georgia;			//常用于数字，有衬线
$fontTimesNewRoman:		"Times New Roman";  //有衬线
$fontCourierNew:		"Courier New";		//等宽字体

//   SCSS  config
// =============================================================================

// 浏览器 配置 true开启， false关闭
// =============================================================================
$isIe67:            false !default;    //是否兼容IE6-7
$isFilter:          false !default;   //是否为IE6-8使用CSS3滤镜兼容

// 网页基本配置
$baseFontSize:       14px !default;      	//基础字号
$baseLineHeight:     1.4 !default;       	//基础行高
$baseFontFamily:     $fontSongTi !default;	//基础字体
$baseBgColor:		 $white !default;		//基础背景色
$baseFontColor:		 $black * 3 !default;	//基础字色

// 链接色
$linkColor:       $blue !default;
$linkColorHover:  $navy !default;

// 交互颜色
// 四种状态: 警告,错误,成功,提示
// 每个状态有三个值: 文本色,背景色,边框色
$warningColor:        $red !default;
$errorColor:          $red !default;
$successColor:        $green !default;
$remindColor:         $yellow !default;

