@charset "UTF-8";
/* =============================================================================
   SCSS  config
   ========================================================================== */


// 浏览器 配置 true开启， false关闭
// =============================================================================
$isIe67:            true !default;    //是否兼容IE6-7
$isFilter:          true !default;   //是否为IE6-8使用CSS3滤镜兼容

// 字体配置
// =============================================================================
$defaultFontSize:       12px !default;      //默认基础字号12px
$defaultLineHeight:     1.4 !default;       //默认行高1.4
$defaultFontFamily:     "Helvetica Neue", Helvetica, STHeiTi, Tahoma, sans-serif;
$fontSongTi:            "SimSun";            //宋体
$fontYaHei:             "Microsoft Yahei";  //微软雅黑
$fontHeiTi:             "SimHei";           //黑体

// 默认间距
// =============================================================================
$defaultSpace:          10px !default;


// 颜色
// =============================================================================
// 基于 http://clrs.cc
// 可以通过以下方式组合
// lighten($color, $amount)
// darken($color, $amount)
// opacify($color, $amount)
// mix($color1, $color2[, $amount])
$navy:          #001F3F !default;
$blue:          #0074D9 !default;
$aqua:          #7FDBFF !default;
$teal:          #39CCCC !default;
$olive:         #3D9970 !default;
$green:         #2ECC40 !default;
$lime:          #01FF70 !default;
$yellow:        #FFDC00 !default;
$orange:        #FF851B !default;
$red:           #FF4136 !default;
$fuchsia:       #F012BE !default;
$purple:        #B10DC9 !default;
$maroon:        #85144B !default;
$white:         #FFFFFF !default;
$silver:        #DDDDDD !default;
$gray:          #AAAAAA !default;
$black:         #111111 !default;

// 链接色
// =============================================================================
// 如果只有$linkColor,则hover为draken 10%
// 如果有$linkColorHover,则hover为$linkColorHover
$linkColor:       $blue !default;
$linkColorHover:  $navy !default;

// 交互颜色
// =============================================================================
// 四种状态: 警告,错误,成功,提示
// 每个状态有三个值: 文本色,背景色,边框色
$warningColor:        $red !default;
$errorColor:          $red !default;
$successColor:        $green !default;
$remindColor:         $yellow !default;
