@charset "UTF-8";

@import "../core/config";
@import "../core/css3";
@import "../core/mixin";
@import "../core/media-queries";


// 活动用了一个建议的reset
*{margin:0;padding:0}
body{
	line-height: $baseLineHeight;
	font-size: $baseFontSize;
	color: $baseFontColor;
	margin: 0 auto;
	background-color:$baseBgColor;
	font-family: $fontMobile;
}
i{font-style: normal;}
fieldset,img{border:0}
a{
	text-decoration:none;
	color: $linkColor;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
ul,li {list-style:none;}
header,footer,section {display:block;}

// 针对移动版的配置
$isIe67:            false;
$isFilter:          false;

$prefixForMozilla:      false;
$prefixForMicrosoft:    false;
$prefixForOpera:        false;


// 可以在自己的文件内配置这些参数
//$baseLineHeight: 1.4;
//$baseFontSize: 20px;
//$baseFontColor: #333;
//$baseBgColor: $white;
//$linkColor: $navy;