@charset "UTF-8";
@import "../core/jdc-pc";


// 基础设置

// 颜色
$baseColor: #F4726D;
$lightColor: lighten($baseColor, 10%);
$drakColor: darken($baseColor, 10%);
$linkColor: $baseColor;
$grayColor: #CCC;

$black: #333;
$bgColor: #F5F5F5;


// 字体
$baseFontSize: 16px;
$baseFontFamily: $fontYaHei;

%shadow {
	box-shadow: 1px 1px 5px $grayColor;
}

body {
    line-height: $baseLineHeight;
	font-size: $baseFontSize;
    background-color: $bgColor;
    font-family: $baseFontFamily;
	color: $baseFontColor;
}
a {
	color: $linkColor;
}
pre {
	padding: 10px 20px;
	border-radius: 20px;
	border: 1px solid $grayColor;
	@include box-shadow(inset 0 0 20px $grayColor);
	background-color: $black;
	color: $white;
}
.wrapper {
}
.wrapper-in {
	@include fix;
}

.slide-bar {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 260px;
	height: 100%;
	border-right: 1px solid $baseColor;
	background-color: $lightColor;
	overflow: auto;
}
.slide-tit{
	padding: 10px;
	font-weight: bold;
	color: $drakColor;
	text-shadow: 1px 1px 0 lighten($baseColor, 20%);
}
.nav-list {
	border-top: 1px solid $baseColor;
	border-bottom: 1px solid lighten($baseColor, 13%);
	a {
		position: relative;
		display: block;
		padding: 10px 20px;
		font-weight: bold;
		color: $drakColor;
		text-shadow: 1px 1px 0 lighten($baseColor, 20%);
		&:after {
			position: absolute;
			width: 8px;
			height: 8px;
			right: 15px;
			top: 15px;
			border-top: 2px solid $drakColor;
			border-right: 2px solid $drakColor;
			content: "";
			@include rotate(45deg);
		}
	}
	&:hover {
		background-color: lighten($baseColor, 13%);
	}
}
.slide-nav {
	.sub-nav-list {
		display: none;	
	}
	& li.current{
		.sub-nav-list {
			display: block;
		}
	}
}
.sub-nav-list {
	background-color: lighten($baseColor, 20%);
	& a:hover{
		background-color: $lightColor;
	}
	& a.current{
		background-color: $lightColor;
	}
	 
}

.main {
	@include cell;
	padding: 0 30px 0 300px;
}
.main-tit {
	padding: 10px;
	line-height: $baseLineHeight * 2;
	border-bottom: 1px solid $drakColor;
	font-size: $baseFontSize * 2;
	color: $drakColor;	
}
.content {
	padding: 10px;
	border-bottom: 1px dotted $grayColor;
	h3 {
		padding-top: 10px;
		padding-bottom: 10px;
		font-weight: bold;
	}
	img {
		margin-left: 2px;
		margin-right: 5px;
		vertical-align: top;
		@extend %shadow;
	}
	article {
		line-height: $baseLineHeight * 1.5;
		padding-bottom: 15px;
	}
}
.color-box {
	@include fix;
	.color-items {
		@include float();
		@include rect(100px, auto);
		margin-right: 20px;
		margin-bottom: 20px;
		padding: 1px;
		border: 1px solid darken($grayColor, 10%);
		background-color: $white;
		box-shadow: 2px 1px 5px $grayColor;
		i {
			display: block;
			@include rect(100px);
		}
		span {
			display: block;
			text-align: center;
		}
	}
}


%tabCell {
	padding: 5px 20px;;
	border-right: 1px solid $grayColor;
	border-bottom: 1px solid $grayColor;
	font-size: 14px;
	text-align: left;		
}
.tab {
	margin-bottom: 15px;
	border-collapse: collapse;
	border-left: 1px solid $grayColor;
	border-top: 1px solid $grayColor;
	@extend %shadow;		
	td {
		@extend %tabCell;		
	}
	th {
		@extend %tabCell;	
		background-color: lighten($grayColor, 10%);
		&.explain {
			width: 50%;
		}
		// &[size="1"] {
		// 	width: 10%;
		// }
	}
	
}
.test{color: $red}
